openapi: 3.0.3
info:
  title: Mnemogram API
  description: |
    Mnemogram is a serverless AI memory service that enables semantic search and analysis of personal knowledge.
    
    ## Features
    - **Memory Ingestion**: Upload and store .mv2 memory files
    - **Semantic Search**: Query your memories using natural language
    - **AI Enrichment**: Extract cards, facts, and structured data from memories
    - **Entity State Tracking**: O(1) lookups for entity states across memories
    
    ## Authentication
    All endpoints (except /status) require authentication via Bearer token in the Authorization header.
    
    ## Tiers
    - **Free**: Basic memory storage and search
    - **Pro**: Advanced features like cards and facts extraction  
    - **Enterprise**: High-volume usage and priority support
  version: 1.0.0
  contact:
    name: Mnemogram Support
    url: https://mnemogram.ai/support
    email: support@mnemogram.ai
  license:
    name: Proprietary
    url: https://mnemogram.ai/terms

servers:
  - url: https://api.mnemogram.ai
    description: Production API
  - url: https://api-dev.mnemogram.ai
    description: Development API

paths:
  /status:
    get:
      summary: Health Check
      description: Returns service status, version, and health information
      operationId: getStatus
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "mnemogram"
                  version:
                    type: string
                    example: "1.0.0"

  /memories:
    put:
      summary: Upload Memory File
      description: |
        Upload a .mv2 memory file for processing and storage. Supports both direct upload (for files < 50MB) 
        and pre-signed URL flow (for larger files up to 100MB).
        
        **Direct Upload**: Send the file data in the request body
        **Pre-signed Upload**: Set `x-upload-mode: presigned` header to get an upload URL
      operationId: uploadMemory
      tags:
        - Memory Ingestion
      security:
        - bearerAuth: []
      parameters:
        - name: x-upload-mode
          in: header
          description: Upload mode - 'direct' for immediate upload, 'presigned' for large files
          schema:
            type: string
            enum: [direct, presigned]
            default: direct
      requestBody:
        description: Memory file data (for direct uploads)
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          application/mv2:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Memory uploaded successfully or pre-signed URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  memoryId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  userId:
                    type: string
                    example: "user123"
                  s3Key:
                    type: string
                    example: "user123/550e8400-e29b-41d4-a716-446655440000.mv2"
                  fileSize:
                    type: integer
                    example: 1024576
                  createdAt:
                    type: string
                    format: date-time
                    example: "2026-02-17T03:22:00Z"
                  status:
                    type: string
                    enum: [processing, pending_upload]
                    example: "processing"
                  message:
                    type: string
                    example: "Memory file uploaded successfully and is being processed."
                  uploadUrl:
                    type: string
                    format: uri
                    description: Pre-signed upload URL (only present when x-upload-mode: presigned)
                    example: "https://s3.amazonaws.com/bucket/key?signature=..."
                  instructions:
                    type: string
                    description: Instructions for pre-signed upload (only present when x-upload-mode: presigned)
                    example: "Make a PUT request to uploadUrl with your .mv2 file as the request body."
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "file_too_large"
                  message:
                    type: string
                    example: "File size exceeds 100MB limit"
                  maxSize:
                    type: string
                    example: "100MB"

  /search:
    get:
      summary: Search Memories
      description: Perform semantic search within a specific memory file using natural language queries
      operationId: searchMemories
      tags:
        - Search
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: Search query text
          schema:
            type: string
            example: "artificial intelligence trends"
        - name: memoryId
          in: query
          required: true
          description: ID of the memory file to search within
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                    example: "artificial intelligence trends"
                  memoryId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          example: "AI is transforming industries through automation"
                        score:
                          type: number
                          format: float
                          example: 0.85
                        metadata:
                          type: object
                          additionalProperties: true
                  executionTimeMs:
                    type: integer
                    example: 125
                  totalResults:
                    type: integer
                    example: 42
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/memories/{id}/cards:
    get:
      summary: Get Memory Cards
      description: |
        Retrieve AI-extracted memory cards from an enriched memory file.
        Cards are key insights and summaries extracted by the enrichment process.
        
        **Tier Requirements**: Pro or Enterprise
      operationId: getMemoryCards
      tags:
        - AI Features
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Memory ID
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Memory cards retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  memoryId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: "Key Insight"
                        content:
                          type: string
                          example: "Summary of important information"
                        tags:
                          type: array
                          items:
                            type: string
                          example: ["AI", "technology"]
                        confidence:
                          type: number
                          format: float
                          example: 0.92
                  total:
                    type: integer
                    example: 15
                  extractedAt:
                    type: string
                    format: date-time
                    example: "2026-02-17T03:22:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/memories/{id}/facts:
    get:
      summary: Get Extracted Facts
      description: |
        Retrieve structured facts extracted from an enriched memory file.
        Facts are specific data points and relationships identified by AI analysis.
        
        **Tier Requirements**: Pro or Enterprise
      operationId: getMemoryFacts
      tags:
        - AI Features
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Memory ID
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Facts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  memoryId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  facts:
                    type: array
                    items:
                      type: object
                      properties:
                        subject:
                          type: string
                          example: "OpenAI"
                        predicate:
                          type: string
                          example: "released"
                        object:
                          type: string
                          example: "GPT-4"
                        confidence:
                          type: number
                          format: float
                          example: 0.95
                        source:
                          type: string
                          example: "Document section 3.1"
                  total:
                    type: integer
                    example: 28
                  extractedAt:
                    type: string
                    format: date-time
                    example: "2026-02-17T03:22:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/memories/{id}/state/{entity}:
    get:
      summary: Get Entity State
      description: |
        Perform O(1) entity state lookup across enriched memories.
        Retrieves the current state and attributes of a specific entity.
        
        **Tier Requirements**: Pro or Enterprise
      operationId: getEntityState
      tags:
        - AI Features
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Memory ID
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: entity
          in: path
          required: true
          description: Entity name to lookup
          schema:
            type: string
            example: "OpenAI"
      responses:
        '200':
          description: Entity state retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  memoryId:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  entity:
                    type: string
                    example: "OpenAI"
                  state:
                    type: object
                    properties:
                      attributes:
                        type: object
                        additionalProperties: true
                        example:
                          type: "company"
                          industry: "AI"
                          founded: "2015"
                      relationships:
                        type: array
                        items:
                          type: object
                          properties:
                            relation:
                              type: string
                            target:
                              type: string
                        example:
                          - relation: "created"
                            target: "GPT-4"
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-02-17T03:22:00Z"
                  confidence:
                    type: number
                    format: float
                    example: 0.88
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierRequired'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from authentication endpoint

  responses:
    BadRequest:
      description: Bad request - invalid parameters or missing required fields
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "bad_request"
              message:
                type: string
                example: "Invalid request parameters"

    Unauthorized:
      description: Unauthorized - valid authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "unauthorized"
              message:
                type: string
                example: "Valid authorization required"

    TierRequired:
      description: Feature requires Pro or Enterprise tier
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "tier_required"
              message:
                type: string
                example: "This feature requires Pro or Enterprise tier"
              requiredTier:
                type: string
                example: "Pro"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "not_found"
              message:
                type: string
                example: "Requested resource was not found"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "internal_error"
              message:
                type: string
                example: "An internal server error occurred"

tags:
  - name: Health
    description: Service health and status endpoints
  - name: Memory Ingestion
    description: Upload and manage memory files
  - name: Search
    description: Semantic search capabilities
  - name: AI Features
    description: Advanced AI-powered features (Pro/Enterprise)